[project]
	description = Stanford Open Course
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Lu Dang (eclipselu)
[access "refs/for/refs/*"]
	read = group user/Lu Dang (eclipselu)
	push = group user/Lu Dang (eclipselu)
	label-Code-Review = -2..+2 group user/Lu Dang (eclipselu)
	label-Verified = -1..+1 group user/Lu Dang (eclipselu)
	rebase = group user/Lu Dang (eclipselu)
	removeReviewer = group user/Lu Dang (eclipselu)
	submit = group user/Lu Dang (eclipselu)
[access "refs/heads/*"]
	read = group user/Lu Dang (eclipselu)
	create = group user/Lu Dang (eclipselu)
	push = +force group user/Lu Dang (eclipselu)
	pushMerge = group user/Lu Dang (eclipselu)
[access "refs/tags/*"]
	push = +force group user/Lu Dang (eclipselu)
	pushTag = group user/Lu Dang (eclipselu)
	pushSignedTag = group user/Lu Dang (eclipselu)
